<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vaisnava Marraige Bureau</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'home/my_css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>  
    
    <div class="menu-bar">
        <ul>
            <li class='active'><i class="fa fa-home"></i><a href="#">Home</a></i>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="/mission">Mission</a></li>
                        <li><a href="/vision">Vision</a></li>
                        <li><a href="/objectives">Objectives</a></li>
                        <li><a href="/aboutproject">About the project</a></li>
                        <li><a href="/helpus">Help us</a></li>

                    </ul>
                </div>
            </li>
            <li><i class="fa fa-registered"></i><a href="#">Register</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Male Registrations</a></li>
                        <li><a href="#">Female Registrations</a></li>
                    </ul>
                </div>
            </li>
            <li><i class="fa fa-phone"></i><a href="#">Contact Us</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Information</a></li>
                        <li><a href="#">Complaints</a></li>
                    </ul>
                </div>
            </li>
            <li><i class="fa fa-globe"></i><a href="#">Location</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Postal Address</a></li>
                        <li><a href="#">On the Map</a></li>
                    </ul>
                </div>
            </li>
            <li><i class="fa fa-user"></i><a href="#">About Us</a></li>
        </ul>
    </div>
</body>
</html>