*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#backgroundimage {
    background-image: url("/static/home/Images/ISKCON2C.jpg");
    width: 99vw;
    height: 120vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    background-size:cover;
    background-attachment: fixed;    
} 

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;


}
.navbar-brand img
{
    height: 60px;
    padding-left: 60px;   
}
.navbar{
    background: yellow;
    text-align: center;
}
.navbar ul
{
    display: inline-flex;
    list-style: none;
}
.navbar ul li
{
    width: 200px;
    margin: 5px; 
    /* padding: 15px;  */
 
}
.navbar ul li a
{
    text-decoration: none;
    color: black;
}
.active, .navbar ul li:hover
{
    background: rgb(238, 193, 47);
    /* border-radius: 3px; */
}

.sub-menu-1
{
    display: none;
}
.navbar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: yellow;
    /* margin-top: 15px; */
    /* margin-left: -15px; */

}
.navbar ul li:hover .sub-menu-1 ul
{   
    display: block;
    margin: 20px; 
    
}
.navbar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0; 
    text-align: left;
}
.navbar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.navbar ul li:hover .sub-menu-1 ul li a:hover
{
    color: red;
}
.nav-link
{
    color: black!important;
    font-weight: 400px;
    font-size: 1x;
}
/* .navbar .fa
{
} */
